*{
    margin: 0; /* 外边距 */
    padding: 0; /* 内边距 */
  }
  body{
    background: #000; /* 背景颜色 */
  }
  .wrapper{
    position: absolute; /* 绝对定位 */
    top: 50%; /* 距上部 */
    left: 50%; /* 距左部 */
    transform: translate(-50%, -50%); /* X,Y轴移动 */
  }
  ul{
    list-style: none; /* 清除默认样式 */
    width: 500px; /* 宽度 */
  }
  ul li{
    width: 70px;
    float: left; /* 左浮动 */
    position: relative; /* 相对定位 */
    cursor: pointer; /* 鼠标样式 */
    height: 70px; /* 高度 */
    margin: 0 15px;
    background: #fff;
    border-radius: 50%; /* 边框圆角 */
  }
  ul li .fa{
    position: absolute;
    color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* X,Y轴移动 */
  }
  ul li::before{ /* 之前添加 */
    content: ''; /* 内容 */
    position: absolute;
    top: -10px;
    left: -10px;
    width: 80px;
    height: 80px;
    background: transparent; /* 透明背景 */
    z-index: -1; /* z轴层叠 */
    border-radius: 50%;
    border: 5px solid#fff;
    filter: blur(6px); /* 模糊 */
    transform: scale(0);
    transition: all 0.5s ease; /* 过渡时间 */
  }
  ul li:hover::before{
    transform: scale(1); /* 放大到1倍 */
  }
  