*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*开启grid布局，只需要在父容器container加display:grid即可*/
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    height: 100vh;
}
.container > div:nth-child(1){
    grid-column: 1/3;
}
.container > div:nth-child(6){
    grid-column: 3/5;
}
.container > div:nth-child(9){
    grid-column: 3/5;
}
.container > div:nth-child(10){
    grid-column: 1/3;
}

/* 容器内的项目 可以再使用flex布局 */
.container > div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
    transition: all 0.5s ease-in;

}

.bg1{
    background-image: url(images/bg1.jpg);
}
.bg2{
    background-image: url(images/bg2.jpg);
    color: black;
}

.container >div:hover{
    opacity: 0.7;
    transform: scale(0.98);
    cursor: pointer;
}

.container{
    font-size: 45px;
    margin: 10px;
    font-weight: 400 ;
}

span{
    font-size: 30px;

}

p{
    font-size: 20px;
}